.course {
  display: flex;
  justify-content: space-between;
}

.course-card {
  width: 200px;
  height: 100px;
  background-color: antiquewhite;
  border: 2px black solid;
  text-align: justify;
  padding: 5px;
}
